@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  font-family: var(--font-inter);
}

h1 {
  font-family: var(--font-iria);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffffff;
  font: inriaSerif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background: #191414;
  
}

button {
  color: #ffffff;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}

@layer components {
  .btn-primary {
    @apply bg-[#6324b2] text-white py-2 px-4 rounded-md hover:shadow-md focus:outline-none focus:ring-2 focus:ring-[#1c1b1b] focus:ring-opacity-50;
  }
}